<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>

<body>
    <h1>Sobre</h1>
    <a href="/">Ir para a página HOME</a>
    <hr>
    <h3>Tanjiro</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident doloribus fugiat
        inventore earum perferendis necessitatibus blanditiis sit ea
        repellendus! Molestiae non atque quam id illum at placeat nisi vero quis?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident doloribus fugiat
        inventore earum perferendis necessitatibus blanditiis sit ea
        repellendus! Molestiae non atque quam id illum at placeat nisi vero quis?
    </p>
</body>

</html>